﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Create.aspx.cs" Inherits="WebApplication13.Create" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>YENİ OTEL EKLEME</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Label ID="Label1" runat="server" Text="Otel Adı:"></asp:Label>
        <asp:TextBox ID="txtolustur" runat="server"></asp:TextBox>
        <asp:Button ID="btnOlustur" runat="server" Text="Oluştur" OnClick="btnOlustur_Click" />
    </div>
    </form>
</body>
</html>
