﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Home.aspx.cs" Inherits="WebApplication13.AdminPanel.Home" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Anasayfa</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
     <h1>ANASAYFA</h1>
        <a href="Create.aspx">+Oluştur+</a>
         <ul>
        <asp:Repeater ID="Repeater1" runat="server">
        <ItemTemplate>         
              <li><%#Eval("OtelAdı")%></li>  
            <a href="Delete.aspx?Id=<%#Eval("ID")%> ">Sil</a>       
        </ItemTemplate>
        </asp:Repeater>
        </ul>
    </div>
    </form>
</body>
</html>

