﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" @Html.ActionLink("TATIL ZAMANI", "Index", "Home")></a>
            </div>
            <div style="color:aqua;" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="nav navbar-nav navbar-right col-md-4">
                    <div class="col-md-3">
                        <div class="dropdown">
                            @if (HttpContext.Current.Session["Culture"].ToString() == "tr")
                            {
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Türkçe<span class="caret"></span></button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li>@Html.ActionLink("English", "ChangeCulture", "Home", new { lang = "en", returnurl = this.Request.RawUrl }, null)</li>
                                    </ul>
                            }
                            else
                            {
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">ENGLISH<span class="caret"></span></button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li>@Html.ActionLink("Türkçe", "ChangeCulture", "Home", new { lang = "tr", returnurl = this.Request.RawUrl }, null)</li>
                                    </ul>
                            }
                        </div>
                    </div>
                    @*<div class="col-md-9">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">@Html.ActionLink(WebApplication11.Resources.HomeText.üyegirisi,"Giris","Uyelers")</button>
                                </span>
                            </div>
                        </div>*@
                    <div class="col-lg-1 col-md-3">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Giriş
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                @if (Session["KullanıcıAdı"] == null)
                                {
                                    <li>@Html.ActionLink(WebApplication13.Resources.HomeText.üyegirisi, "Giris", "Kullanıcı")</li>
                                    <li>@Html.ActionLink(WebApplication13.Resources.HomeText.Yeniuye, "Create", "Kullanıcı")</li>
                                }
                                else
                                {
                                    <li>@Html.ActionLink(WebApplication13.Resources.HomeText.Cıkıs, "Cıkıs", "Kullanıcı")</li>
                                }

                            </ul>
                        </div>
                    </div>
                </div>
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink(WebApplication13.Resources.HomeText.TatilKöyleri, "TatilKoyu", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(WebApplication13.Resources.HomeText.YurtDısıOtelleri, "YurtDısı", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(WebApplication13.Resources.HomeText.ErkenRezervasyonOtelleri, "ErkenRezervasyon", "Home")
                    </li>
                </ul>
            </div>


            <!-- Brand and toggle get grouped for better mobile display -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <!-- /.navbar-collapse -->
        </div>

        <!-- /.container -->
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="row ">
                <div class="col-md-3">&copy;@WebApplication13.Resources.HomeText.Kopyalanamaz.</div>
                <div class="col-md-6">
                    <img src="~/image/facebook_logo.jpg" title="facebook" />
                    <img src="~/image/instagram_logo.jpg" title="instagram" />
                    <img src="~/image/foursquare_logo.jpg" title="foursquare" />
                    <img src="~/image/twitter_logo.jpg" title="twitter" />
                    <img src="~/image/youtube_logo.jpg" title="youtube" />
                </div>
                <div class="col-md-3">
                    @Html.ActionLink(WebApplication13.Resources.HomeText.adminPanel, "/Giris.aspx", "AdminPanel")
                    @Html.ActionLink(WebApplication13.Resources.HomeText.Hakkımızda, "Hakkımızda", "Home")
                    @Html.ActionLink(WebApplication13.Resources.HomeText.RolYönetimi, "Index", "Roles")
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
