﻿
@{
    ViewBag.Title = "TatilKoyu";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Shop Homepage - Start Bootstrap Template</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/shop-homepage.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="row">
        <div class="col-md-2">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Ara!</button>
                </span>
                <input type="text" class="form-control" placeholder="Search for...">
            </div><!-- /input-group -->
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Yetişkin Sayısı
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Çocuk Sayısı
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                </ul>
            </div>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span>Ara</button>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span>Temizle</button>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Ivır Zıvır</h3>
                </div>
                <div class="panel-body">
                    dsfdg
                    gfhgjh
                    dgjnb
                    fghgvjbk fhbykjjn
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row carousel-holder">
                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="slide-image" src="~/image/ttailköyü.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="~/image/anasayfa3.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="~/image/anasayfa4.jpg" alt="">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="thumbnail">
                        <img src="~/image/may.jpg" alt="">
                        <div class="caption">
                            <h4 class="pull-right">200</h4>
                            <h4>
                                <a href="#">ALibey Resort</a>
                            </h4>
                            <p>asdsfdg fdgfhgfh sfdgfdh sdfxgc.<br /></p>
                            <p>@Html.ActionLink("DETAY", "AliBey", "Home") </p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">15 reviews</p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="thumbnail">
                        <img src="~/image/Majesty.jpg" alt="">
                        <div class="caption">
                            <h4 class="pull-right">90</h4>
                            <h4>
                                <a href="#">Tarhan</a>
                            </h4>
                            <p>asdsfdg fdgfhgfh sfdgfdh sdfxgc.<br /></p>
                            <p>@Html.ActionLink("DETAY", "Tarhan", "Home") </p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">15 reviews</p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="thumbnail">
                        <img src="~/image/miracle.jpg" alt="">
                        <div class="caption">
                            <h4 class="pull-right">80</h4>
                            <h4>
                                <a href="#">Miracle</a>
                            </h4>
                            <p>asdsfdg fdgfhgfh sfdgfdh sdfxgc.<br /></p>
                            <p>@Html.ActionLink("DETAY", "Miracle", "Home") </p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">15 reviews</p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="thumbnail">
                        <img src="~/image/dedeman.jpg" alt="">
                        <div class="caption">
                            <h4 class="pull-right">180</h4>
                            <h4>
                                <a href="#">Dedeman</a>
                            </h4>
                            <p>asdsfdg fdgfhgfh sfdgfdh sdfxgc.<br /></p>
                            <p>@Html.ActionLink("DETAY", "Dedeman", "Home") </p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">10 reviews</p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </p>
                        </div>
                    </div>
                </div>

            </div>




        </div>
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Müşteri Yorumları</h3>
                </div>
                <div class="panel-body">
                    dsfdsgfdg
                    asdsgfd
                    asdsgfh
                    ADSGFH
                    DS
                    FDHGJ
                    DH
                    GJDH
                    GJ
                    DGHJ
                    SDGFH
                    dsfdsgfdg
                    asdsgfd
                    asdsgfh
                    ADSGFH
                    DS
                    FDHGJ
                    DH
                    GJDH
                    GJ
                    DGHJ
                    SDGFH
                </div>
            </div>
            <div />
        </div>
    </div>


</body>
</html>


