﻿
@{
    ViewBag.Title = "Create";
}

<h2>Rol Ekle</h2>
@Html.ActionLink("Rol Listesi", "Create")|@Html.ActionLink("Kullanıcı Rolünü Yönet ", "ManageUserRoles")<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div>
        Rol Adı
    </div>

    <p>
        @Html.TextBox("RolAdı")
    </p>
    <input type="submit" value="Kaydet" />
}
@ViewBag.SonucMesajı


