﻿@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "Ekle";
}

<h2>Ekle</h2>

@Html.ActionLink("Rol Listesi", "Index") | @Html.ActionLink("Kullanıcı Rolünü Yönet", "ManageUserRoles")
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    <div>
        Rol Adı
    </div>
    <p>
        @Html.TextBoxFor(model => model.Name)
    </p>
    <input type="submit" value="Kaydet" />
}
