﻿@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Index";
}

<h2>Rol Listesi</h2>
@Html.ActionLink("Rol Oluştur","Create")|@Html.ActionLink("Kullanıcı Rolünü Yönet ","ManageUserRoles")<hr />
<div>
    @foreach(var role in Model)
    {
        <p>
            <strong>@role.Name |</strong>
            <span onclick="return confirm('Silmek Istediğinize Emin Misiniz?')"><a href="/RolYönetimi/Delete?RoleName=rol.Name" class="delLink" style="color:red;">SIL</a></span>
            @Html.ActionLink("|Ekle", "Ekle", new { roleAdı=role.Name})
        </p>
    }
</div>
